body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #333;
}

.box {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    width: 80%;
    margin: 5px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    font-weight: bold;
}
